<head>
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <base target="_blank" />
    <title>RosieCodes image dump</title>
    <meta http-equiv="Content-Language" content="en" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="RosieCodes image dump" />
    <meta name="twitter:description" content="RosieCodes image dump" />
    <meta name="twitter:image:src" content="{{fullUrl}}" />
    <meta property="og:site_name" content="Rosie Code" />
    <meta property="og:title" content="RosieCodes image dump" />
    <meta property="og:image" content="{{fullUrl}}" />
    <meta property="og:description" content="RosieCodes image dump" />
    <meta property="og:url" content="{{fullUrl}}" />
    <!-- <meta property="og:image:secure_url" content="{{fullUrl}}" /> -->
    <meta property="og:type" content="website" />

<head>

<img src="/images/{{image}}">